textarea {
  background-color: lightyellow;
}

.comment {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 8px 0;
}

.date-footer {
  text-align: right;
  font-size: smaller;
  color: grey
}

.menu-button {
  float: right;
}
