<p class="item-row">
  <span class="mat-h2">COMMENTS</span>
  <button
    mat-icon-button
    class="add-button"
    (click)="showEditor['data-show'] = true"
  ><mat-icon>add</mat-icon>
  </button>
</p>

<div #showEditor [attr.data-show]="false">
  <ng-container *ngIf="showEditor['data-show']">
    <div class="comment">
      <textarea
        #commentInput
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="15">
      </textarea>
      <span>
        <button mat-flat-button
                (click)="onCommentSave('new', commentInput.value); showEditor['data-show']=false;"
        >SAVE</button>
        <button mat-flat-button
                (click)="onEditCancel('new'); showEditor['data-show']=false;"
        >CANCEL</button>
      </span>
    </div>
  </ng-container>
</div>


<div
  class="comment"
  *ngFor="let comment of (comments$ | async)"
>
  <button mat-icon-button
          class="menu-button"
          [mat-menu-trigger-for]="menu"
          *ngIf="!showEditor['data-show']"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
            (click)="showEditor['data-show'] =! showEditor['data-show']"
    >
      <mat-icon>edit</mat-icon>
      <span>Edit comment</span>
    </button>
    <button mat-menu-item (click)="onCommentDelete(comment?.id)">
      <mat-icon>delete</mat-icon>
      <span>Delete comment</span>
    </button>
  </mat-menu>
  <div #showEditor [attr.data-show]="false">

    <ng-container *ngIf="showEditor['data-show'] else showMarkdown">
      <textarea
        [value]="comment?.content"
        #commentInput
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="15">
      </textarea>
      <span>
        <button mat-flat-button
                (click)="onCommentSave(comment?.id, commentInput.value); showEditor['data-show']=false;"
        >SAVE</button>
        <button mat-flat-button
                (click)="onEditCancel(comment?.id); showEditor['data-show']=false;"
        >CANCEL</button>
      </span>
    </ng-container>

    <ng-template #showMarkdown>
      <markdown>
        {{ comment?.content }}
      </markdown>
      <p class="date-footer">
        {{ comment?.createDate | date }}
      </p>
    </ng-template>

  </div>
</div>
