<mat-expansion-panel expanded="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ (toDo$ | async)?.title || 'No title' }}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-status-buttons
    [status$]="status$"
    (buttonClick)="onStatusButtonClick($event)"
  ></app-status-buttons>
  <mat-divider></mat-divider>
  <app-due-date
    [dueDate$]="dueDate$"
    (dueDateSet)="onDueDateSet($event)"
  ></app-due-date>
  <mat-divider></mat-divider>
  <!--  <app-dependencies></app-dependencies> -->
    <app-comments
      [comments$]="comments$"
      (commentAdded)="onCommentAdded($event)"
      (commentEdited)="onCommentEdited($event)"
      (commentDeleted)="onCommentDeleted($event)"
    ></app-comments>
  <mat-divider></mat-divider>
    <app-categories
      [categories$]="categories$"
      (categoryAdded$)="onCategoryAdded($event)"
      (categoryRemoved$)="onCategoryRemoved($event)"
    ></app-categories>
</mat-expansion-panel>
